@inherits LayoutComponentBase

<div class="navbar bg-base-100 z-10 fixed">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">Whisper Hosted</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <NavLink href="https://github.com/clock1998/WhisperHosted">
                    <i class="fa-brands fa-github fa-xl"></i> GitHub
                </NavLink>
            </li>
            <li>
                <NavLink href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
            <li>
                <NavLink href="about" >
                    About
                </NavLink>
            </li>
        </ul>
    </div>
</div>

<main>
    @Body
</main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
